<li>
      <%= link_to user.name, user %>
        <% if usuario_atual.admin? && !usuario_atual?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "Quer realmente deletar?" } %>
  <% end %>

    </li>