<h1>Atualize seu Perfil</h1>
<% provide(:title, 'Atualize seu Perfil') %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>
      <%= f.label :name, "Nome", id: "labels" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email, id: "labels" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, id: "labels" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation", id: "labels" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Atualizar", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>