<h1>Cadastro</h1>
<% provide(:title, 'Cadastre-se') %>
<h2>Cadastre-se abaixo</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>
      <%= f.label :name, "Nome", id: "labels" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email, "Email", id: "labels" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "Senha", id: "labels" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Senha novamente", id: "labels" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>