<h1></h1>

<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>

<p>Nome: <%= @user.name %></p>
<p>Email: <%= @user.email %></p>