<html>
  <head>
  </head>
  <body>
    <h1>Ajuda</h1>
    <p> Para ter acesso ao conteudo da Play.Market, o usuario precisa estar conectado na Play.Market. </p>
    <p> Para se conectar, o usuario precisa criar uma conta atraves do link <%= link_to "Cadastre-se agora!", signup_path, id: "signup" %> na pagdina inicial da Play.Market. </p>
    <p> Possuindo uma conta na Play.Market, o usuario ja pode se conectar atraves da pagina <%= link_to "Login", login_path, id: "signup" %> </p>
  </body>
</html>