<html>
  <head>
    <title><%= yield(:title) %> | Play.Market</title>
  </head>
  <body>
    <div class="center jumbotron">
  <h1>Play.Market</h1>

  <h2>
    Essa e a pagina inicial da Play.Market, o melhor comercio digital de jogos do Brasil.
  </h2>

  <%= link_to "Cadastre-se agora!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
  </body>
</html>