 <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Play.Market", root_path , id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   root_path %></li>
            <li><%= link_to "Ajuda",  ajuda_path%></li>
            <% if logged_in? %>
          <li><%= link_to "Users", users_path  %></li>
          <li><%= link_to "Produtos", produtos_path  %></li>
              <li><%= link_to "Profile", usuario_atual %></li>
              <li><%= link_to "Configuracoes", edit_user_path(usuario_atual) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li> 
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>

          </ul>
        </nav>
      </div>
    </header>